.responsive-two-columns {
  display:flex;
  flex-wrap:wrap;
}

/* columns */
.responsive-two-columns > * {
  width:100%;
  padding:1rem;
}

/* tablet breakpoint */
@media (min-width:768px) {
  .responsive-two-columns > * {
      width:50%;
  }
}

* {
  background-color: #EE9003;
}

.img-head {
  width: 650px;
}

.input {

  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  width: 471px;
  height: 51px;
  flex-shrink: 0;
}

.space {
  height: 3%;
}

.space-head {
  height: 110px;
}

.space-head1 {
  height: 10px;
}

input {
  text-align: center;

}

::-webkit-input-placeholder {
  text-align: center;
}
#wifi1
{
  position:relative;
  left: 0px;
  top: 100px;
  width: 200px;
}
#wifi2
{
  position:relative;
  left: 400px; 
  top: 180px;
  width: 100px;
}
#wifi3
{
  position:relative;
  left: 30px;
  top: 190px;
  width: 100px;
}
.wifi4
{
  position:relative;

  bottom:5px;
  width: 40px;
}
:-moz-placeholder {
  text-align: center;
}

.btn-submit {
  color: #FFF;
  border-radius: 12px;
  background: #9E00FF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  width: 471px;
  height: 62px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight:bold;
  line-height: normal;
}

img {
  background: none;
}

.rotate {
  width: 100px;
  transform: rotate(180deg);
  animation: two 2s infinite;
}

@keyframes two {
  0% {
    transform: rotateY(180deg);
  }

  50% {
    transform: rotateY(90deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}

.rotate1 {
  width: 100px;
  transform: rotateX(40deg);
  animation: one 5s infinite;
}

@keyframes one {
  0% {
    transform: rotateY(180deg);
  }

  50% {
    transform: rotateY(90deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}
.btn-submit:hover{
  background-color: #00b430;
  transform: scale(1.1); 
}
.imghead
{
  width: 100rem;
}

@media only screen and (max-width: 40em){
 .img-fluid
 {
  margin-top: -56px;
 }
  .imghead
{
  width: 20rem;
  padding-left: 2px;
}
.space-head {
  height: -120px;
}
  .input {

    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    width: 340px;
    height: 51px;
    flex-shrink: 0;
  }
  
  .btn-submit {
    color: #FFF;
    border-radius: 12px;
    background: #9E00FF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    width: 340px;
    height: 62px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight:bold;
    line-height: normal;
  }
.img-head {
  width:300px;
}
.space {
  height: 20px;
}

.space-head {
  height: 10px;
}

.space-head1 {
  height: 10px;
}
.wifi1
{
  position: relative;
  left: -40px;
 
  width: 10px;
}
#wifi1
{
  position:relative;
  left: -205px;
  top:350px;
  width: 60px;
}
#wifi2
{
  position:relative;
  left: 250px; 
  bottom:200rem;
  width: 10px;
}
.wifi3
{
  position:relative;
  left: 50px;
  width: 30px;
  bottom:70px;
}
.wifi4
{
  position:relative;
  left: 420px;
  bottom:45px;
  width: 30px;
}
.btn-submit:hover{
  background-color: #00b430;
  transform: scale(1); 
}
}
